// Copyright Brandon Ly 2019 all rights reserved.

// Grid system columns.
$col-count: 12;

// Screen Sizes.
$screen-xs: 512px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;

// Header settings
$header-height: 100px;
$header-height-xs: 80px;

// Color scheme 1
$color-primary: rgb(18, 36, 56);
$color-secondary: #FFF;
$color-tertiary: lighten($color-primary, 35%);

// Misc.
$transition-speed: 0.15s;
