// Copyright 2019 Brandon Ly all rights reserved.

// About page properties.
@import "global-vars";

.blogMiniLanding {
    background-image: url("../assets/images/dtlaBlur.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    filter: brightness(50%);
    height: 140px !important;
}

.blogDescription {
    // padding: 0 20%;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    // padding-top: 60px;
    // text-align: center;

    img {
        width: 25%;
    }

    .title {
        width: 100%;
        border-bottom: 2px solid darken($color-secondary, 6.25%);

        padding-top: 3rem;
        padding-bottom: 2rem;
        margin-bottom: 40px;

        font-size: 3rem;
        font-weight: 700;
        // text-align: center;
    }

    .content {
        padding-bottom: 80px;
        text-align: left;
        font-size: 1.2rem;
    }
}
